<div class="wrapper">
  <div class="container">
    <app-title-page [titleText]="'Cadastro de Clientes'"></app-title-page>
    <app-notification></app-notification>

    <form
      class="form"
      [formGroup]="formCustomer"
      (ngSubmit)="onSubmitCustomer()"
    >
      <label>
        <input
          class="input"
          type="text"
          name="name"
          formControlName="name"
          value=""
          required=""
        />
        <span>Nome Completo</span>
      </label>
      <label>
        <input
          class="input"
          type="email"
          name="email"
          formControlName="email"
          value=""
          required=""
        />
        <span>E-mail</span>
      </label>
      <label>
        <input
          class="input"
          type="tel"
          name="phone"
          formControlName="phone"
          pattern="[0-9]{11}"
          value=""
          required=""
        />
        <span>Telefone</span>
      </label>
      <label>
        <input
          class="input"
          type="text"
          name="address"
          formControlName="address"
          value=""
          required=""
        />
        <span>Endereço</span>
      </label>
      <div class="notificacao">
        <h2 class="title-noti">Notificações</h2>
        <label>O cliente deseja receber nortificações sobre promoções?</label>
        <input
          class="input"
          type="checkbox"
          name="notificacao"
          formControlName="notification"
          [value]="true"
        />
      </div>
      <app-button [buttonText]="'Cadastrar'" type="submit" [disabled]="!formCustomer.valid"></app-button>
    </form>
  </div>
</div>
