<div class="wrapper">
  <div class="container">
    <app-title-page [titleText]="'Cadastro de Despesas'"></app-title-page>
    <app-notification></app-notification>


    <form
      class="form"
      [formGroup]="formExpenses"
      (ngSubmit)="onSubmitExpenses()"
    >
      <label>
        <input
          class="input"
          type="text"
          name="nameExpense"
          formControlName="nameExpense"
          required
        />
        <span>Nome da Despesa</span>
      </label>
      <label>
        <input
          class="input"
          type="number"
          name="value"
          formControlName="value"
          required
        />
        <span>Valor</span>
      </label>
      <label>
        <input
          class="input"
          type="date"
          name="maturity"
          formControlName="maturity"
          required
        />
        <span>Data de vencimento</span>
      </label>
      <label>
        <input
          class="input"
          type="text"
          name="description"
          formControlName="description"
          required
        />
        <span>Descrição</span>
      </label>
      <app-button
        [buttonText]="'Cadastrar'"
        type="submit"
        [disabled]="!formExpenses.valid"
      ></app-button>
    </form>
  </div>
</div>
