<div class="wrapper">
  <div class="container">
    <app-title-page [titleText]="'Cadastro de Fornecedor'"></app-title-page>

    <form
      class="form"
      [formGroup]="formSupplier"
      (ngSubmit)="onSubmitSupplier()"
    >
      <label>
        <input
          class="input"
          type="text"
          name="sales"
          formControlName="sales"
          required
        />
        <span>Vendedor</span>
      </label>
      <label>
        <input
          class="input"
          type="text"
          name="work"
          formControlName="work"
          required
        />
        <span>Empresa</span>
      </label>
      <label>
        <input
          class="input"
          type="email"
          name="email"
          formControlName="email"
          required
        />
        <span>E-mail</span>
      </label>
      <label>
        <input
          class="input"
          type="phone"
          name="phone1"
          formControlName="phone1"
          required
        />
        <span>Telefone 01</span>
      </label>
      <label>
        <input
          class="input"
          type="phone"
          name="phone2"
          formControlName="phone2"
          required
        />
        <span>Telefone 02</span>
      </label>
      <label>
        <input
          class="input"
          type="text"
          name="address"
          formControlName="address"
          required
        />
        <span>Endereço</span>
      </label>
      <app-button [buttonText]="'Cadastrar'" type="submit"></app-button>
    </form>
  </div>
</div>
