<div class="wrapper">
  <div class="container">
    <app-title-page [titleText]="'Cadastro de Fornecedor'"></app-title-page>

    <form class="form">
      <label>
        <input
          class="input"
          type="text"
          name="nome"
          formControlName="nome"
          value=""
          required=""
        />
        <span>Cod Fornecedor</span>
      </label>
      <label>
        <input
          class="input"
          type="text"
          name="nome"
          formControlName="nome"
          value=""
          required=""
        />
        <span>Empresa</span>
      </label>
      <label>
        <input
          class="input"
          type="text"
          name="nome"
          formControlName="nome"
          value=""
          required=""
        />
        <span>E-mail</span>
      </label>
      <label>
        <input
          class="input"
          type="text"
          name="nome"
          formControlName="nome"
          value=""
          required=""
        />
        <span>Telefone 01</span>
      </label>
      <label>
        <input
          class="input"
          type="text"
          name="nome"
          formControlName="nome"
          value=""
          required=""
        />
        <span>Telefone 02</span>
      </label>
      <label>
        <input
          class="input"
          type="text"
          name="nome"
          formControlName="nome"
          value=""
          required=""
        />
        <span>Endereço</span>
      </label>
      <app-button [buttonText]="'Cadastrar'"></app-button>
    </form>
  </div>

</div>
