<div class="wrapper">
  <app-title-page [titleText]="'Editar Despesas'"></app-title-page>


  <div class="tabela-container" id="table-box">
    <table id="corp-list">
      <thead>
        <tr class="table-title">
          <th>Despesa</th>
          <th>Valor</th>
          <th>Data de Vencimento</th>
          <th>Descrição</th>
          <th>Opções</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-corp" *ngFor="let expenses of expenses">
          <td>{{expenses.nameExpense}}</td>
          <td>{{expenses.value}}</td>
          <td>{{expenses.maturity | date : "dd/MM/yyyy" }}</td>
          <td>{{expenses.description}}</td>
          <td>
            <button class="btn , edit" >
              Editar
            </button>
            <button class="btn delete" (click)="excludeExpense(expenses)">
              Deletar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
