<div class="wrapper">
  <!-- listagem de despesas -->
  <app-title-page [titleText]="'Editar Despesas'"></app-title-page>
  <div class="tabela-container" id="table-box">
    <table id="corp-list">
      <thead>
        <tr class="table-title">
          <th>Despesa</th>
          <th>Valor</th>
          <th>Data de Vencimento</th>
          <th>Descrição</th>
          <th>Opções</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-corp" *ngFor="let expenses of expenses">
          <td>{{ expenses.nameExpense }}</td>
          <td>{{ expenses.value }}</td>
          <td>{{ expenses.maturity | date : "dd/MM/yyyy" }}</td>
          <td>{{ expenses.description }}</td>
          <td>
            <button class="btn , edit" (click)="editExpense(expenses)">
              Editar
            </button>
            <button class="btn delete" (click)="excludeExpense(expenses)">
              Deletar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- formulario de edição -->
  <form
    id="formId"
    class="hide"
    [formGroup]="formEditExpense"
    (ngSubmit)="upExpense(this.formEditExpense.value)"
  >
    <label style="display: none">
      <input
        class="input"
        type="text"
        name="_id"
        formControlName="_id"
        required
      />
      <span>id</span>
    </label>
    <label>
      <input
        class="input"
        type="text"
        name="nameExpense"
        formControlName="nameExpense"
        required
      />
      <span>Nome da Despesa</span>
    </label>
    <label>
      <input
        class="input"
        type="number"
        name="value"
        step="0.01"
        formControlName="value"
        required
      />
      <span>Valor</span>
    </label>
    <label>
      <input
        class="input"
        type="date"
        name="maturity"
        formControlName="maturity"
        required
      />
      <span style="display: none">Data de vencimento</span>
    </label>
    <label>
      <input
        class="input"
        type="text"
        name="description"
        formControlName="description"
        required
      />
      <span>Descrição</span>
    </label>
    <app-button [buttonText]="'Atualizar'" type="submit"></app-button>
  </form>
</div>
