<section class="listagem-container" id="listagem">
  <h2 class="produto-title" id="prod-title">Produtos Cadastrados</h2>

  <div class="tabela-container" id="table-box">
    <table id="corp-list">
      <thead>
        <tr class="table-title">
          <th>Sku</th>
          <th>Nome</th>
          <th>Marca</th>
          <th>Validade</th>
          <th>Custo</th>
          <th>Valor</th>
          <th>Em estoque</th>
          <th>Medida</th>
          <th>Lote</th>
          <th>Opções</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-corp" *ngFor="let produtos of produtos">
          <td>{{ produtos._id }}</td>
          <td>{{ produtos.nome }}</td>
          <td>{{ produtos.marca }}</td>
          <td>{{ produtos.validade | date : "dd/MM/yyyy" }}</td>
          <td>{{ produtos.custo | currency : "BRL" }}</td>
          <td>{{ produtos.valor | currency : "BRL" }}</td>
          <td>{{ produtos.quantidade }}</td>
          <td>{{ produtos.medida }}</td>
          <td>{{ produtos.lote }}</td>

          <td>
            <button class="btn , edit" (click)="onEdit(produtos)">
              Editar
            </button>
            <button class="btn delete" (click)="deleteProduto(produtos)">
              Deletar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="btn-cadastro" routerLink="/cadastros">
    <button class="fancy">
      <span class="top-key"></span>
      <span class="text">+ produto</span>
      <span class="bottom-key-1"></span>
      <span class="bottom-key-2"></span>
    </button>
  </div>

  <!-- formulario de edição -->
  <form
    class="hide"
    id="formId"
    [formGroup]="formProduto"
    (ngSubmit)="atualizarProduto(this.formProduto.value)"
  >
    <div class="dados-camp">
      <div class="dados-camp-label">
        <label>
          <input
            class="input"
            type="text"
            name="id"
            id="idEdit"
            formControlName="_id"
            value=""
            required=""
          />
          <span>Cod Produto</span>
        </label>
        <label>
          <input
            class="input"
            type="text"
            name="nome"
            id="nameEdit"
            formControlName="nome"
            value=""
            required=""
          />
          <span>Nome do produto</span>
        </label>
        <label>
          <input
            class="input"
            type="text"
            name="marca"
            id="editMarca"
            formControlName="marca"
            value=""
            required=""
          />
          <span>Marca</span>
        </label>
      </div>
      <div class="img-camp">
        <label class="label-img-up" for="photo">
          <img [src]="formProduto.get('firebaseUrl')?.value" alt="Imagem do Produto" *ngIf="formProduto.get('firebaseUrl')?.value">
        </label>
      </div>
    </div>

    <div class="datails-camp">
      <div class="valor-camp">
        <label>
          <input
            class="input"
            name="custo"
            type="number"
            step="0.01"
            id="editCusto"
            required
            formControlName="custo"
            value=""
            required
          />
          <span>Custo do produto</span>
        </label>

        <label>
          <input
            class="input"
            name="valor"
            type="number"
            id="valorEdit"
            formControlName="valor"
            value=""
            required=""
          />
          <span>Valor do produto</span>
        </label>
        <label>
          <select
            class="input"
            name="medida"
            id="editMedida"
            required
            formControlName="medida"
          >
            <option value="Unidade">Unidade</option>
            <option value="Kilo">Kg</option>
            <option value="Meio Kilo">Meio Kg</option>
            <option value="Dúzia">Dúzia</option>
            <option value="Meia Dúzia">Meia Dúzia</option>
          </select>
          <span>Medida</span>
        </label>
      </div>
      <div class="estoque-camp">
        <label>
          <input
            class="input"
            name="quantidade"
            type="number"
            id="editQuantidade"
            required
            formControlName="quantidade"
            value=""
            required=""
          />
          <span>Quantidade</span>
        </label>
        <label>
          <input
            class="input"
            name="validade"
            type="date"
            id="editValidade"
            value=""
            required=""
            formControlName="validade"
          />
          <span style="display: none">Validade</span>
        </label>
        <label>
          <input
            class="input"
            name="lote"
            type="number"
            id="editLote"
            required
            formControlName="lote"
            value=""
            required=""
          />
          <span>Lote</span>
        </label>
      </div>
    </div>
    <label>
      <input
        class="input"
        type="text"
        id="EditDescricao"
        name="descricao"
        required
        formControlName="descricao"
        value=""
        required=""
      />
      <span>Descrição do produto</span>
    </label>

    <button class="fancy" type="submit">
      <span class="top-key"></span>
      <span class="text">Salvar</span>
      <span class="bottom-key-1"></span>
      <span class="bottom-key-2"></span>
    </button>
  </form>
</section>
