<div class="plan">
  <h1>Nossos Planos</h1>
  <div class="all-card">
    <div class="trial">
      <div class="card">
        <h2>Teste Gratis</h2>

        <h3>Teste durante 15 dias</h3>

        <div class="function">
          <ul>
            <li>
              <p>2 Usuários</p>
              <img [src]="iconCheck" alt="check">
            </li>
            <li>
              <p>Cadastros liberados</p>
              <img [src]="iconCheck" alt="check">
            </li>
            <li>
              <p>Relatorios</p>
              <img [src]="iconCheck" alt="check">
            </li>
            <li>
              <p>Orçamentos e Vendas</p>
              <img [src]="iconCheck" alt="check">
            </li>
            <li>
              <p>Suporte por Chat</p>
              <img [src]="iconCheck" alt="check">
            </li>
          </ul>
        </div>

        <app-button buttonText="Assine já"></app-button>
      </div>
    </div>
    <div class="plan-start">
      <div class="card">
        <h2>Plano Start</h2>

        <h3>69,90 R$ - Mensal | 755,90 R$ - Anual</h3>

        <div class="function">
          <ul>
            <li>
              <p>5 Usuários</p>
              <img [src]="iconCheck" alt="check">
            </li>
            <li>
              <p>Cadastros liberados</p>
              <img [src]="iconCheck" alt="check">
            </li>
            <li>
              <p>Orçamentos e Vendas</p>
              <img [src]="iconCheck" alt="check">
            </li>
            <li>
              <p>Relatorios</p>
              <img [src]="iconCheck" alt="check">
            </li>
            <li>
              <p>Orçamentos e Vendas</p>
              <img [src]="iconCheck" alt="check">
            </li>
            <li>
              <p>Suporte por Chat</p>
              <img [src]="iconCheck" alt="check">
            </li>
          </ul>
        </div>

        <app-button buttonText="Assine já"></app-button>

        <!-- https://api.whatsapp.com/send?phone=5586981118160&text=Fale%20conosco!%20 -->
      </div>
    </div>
    <div class="plan-premium">
      <div class="card">
        <h2>Plano Premium</h2>

        <h3>99,90 R$ - Mensal | 1079,90 R$ - Anual</h3>

        <div class="function">
          <ul>
            <li>
              <p>15 Usuários</p>
              <img [src]="iconCheck" alt="check">
            </li>
            <li>
              <p>Cadastros liberados</p>
              <img [src]="iconCheck" alt="check">
            </li>
            <li>
              <p>Relatorios</p>
              <img [src]="iconCheck" alt="check">
            </li>
            <li>
              <p>Orçamentos e Vendas</p>
              <img [src]="iconCheck" alt="check">
            </li>
            <li>
              <p>Gestão de prioridades</p>
              <img [src]="iconCheck" alt="check">
            </li>
            <li>
              <p>Controle de Acessos</p>
              <img [src]="iconCheck" alt="check">
            </li>
            <li>
              <p>Suporte 24/7</p>
              <img [src]="iconCheck" alt="check">
            </li>
          </ul>
        </div>

        <app-button buttonText="Assine já"></app-button>
      </div>
    </div>
  </div>
</div>
