/* definição de configurações finais */
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  width: 100%;
}

.home-product {
  width: 55%;
  margin-bottom: 5rem;
}

.title-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 100%;
}

.all-pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
}

.space-title {
  margin-right: 1rem;
}

/* layout da informações inicias */
.main-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 80%;
  width: 70%;
}

.main-container h1 {
  margin-bottom: 1rem;
  font-size: 24px;
  padding: 5px 25px 5px 25px;
  color: #9733be;
}

.details-container,
.photo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.details-container {
  width: 40%;
  height: 50vh;
}

.details-prod,
.detals-venda {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 0.5rem;
}

.datails {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  border-radius: 25px;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow: 5px 5px 10px #a1a1a1,
    -5px -5px 10px #ffffff;
  padding: 0.5rem 1rem 0.5rem 1rem;
  min-width: 75%;
}

.datails p {
  font-weight: bolder;
}

.photo-container {
  border-radius: 2rem;
  width: 50%;
}

.photo-container img {
  width: 70%;
  height: 40vh;
  border-radius: 25px;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow: 5px 5px 10px #a1a1a1,
    -5px -5px 10px #ffffff;
}

.all-products {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
