<div class="wrapper">
  <app-title-page [titleText]="'Pesquise por Filtros'"></app-title-page>
  <app-bar-search (searchEvent)="performSearch($event)"></app-bar-search>
  <div class="main-container">
    <div class="details-container">
      <div class="details-prod">
        <h1>Dados</h1>
        <div class="datails">
          <h4>Nome:</h4>
          <p>Sabão</p>
        </div>
        <div class="datails">
          <h4>SKU:</h4>
          <p>14</p>
        </div>
        <div class="datails">
          <h4>Marca:</h4>
          <p>OMO</p>
        </div>
        <div class="datails">
          <h4>Lote:</h4>
          <p>25</p>
        </div>
        <div class="datails">
          <h4>Vencimento:</h4>
          <p>14/05/2024</p>
        </div>
      </div>

      <div class="detals-venda">
        <h1>Vendas</h1>
        <div class="datails">
          <h4>Vendas Mês:</h4>
          <p>05</p>
        </div>
        <div class="datails">
          <h4>Vendas Mês (valor):</h4>
          <p>250,00 R$</p>
        </div>
        <div class="datails">
          <h4>Em estoque:</h4>
          <p>02</p>
        </div>
      </div>
    </div>
    <div class="photo-container">
      <img [src]="imgProd" alt="imagem do produto" />
    </div>
  </div>
  <div class="all-products">
    <a href="#"><app-button [buttonText]="'Todos os produtos'"></app-button></a>
  </div>
</div>
