.notification {
 display: flex;
}

.success {
  margin: 0.2rem 0rem 2rem 0.2rem;
  color: white;
  padding: 0.7rem;
  border-radius: 25px;
  background: linear-gradient(145deg, #369f09, #369f09);
  box-shadow: 5px 5px 10px #a1a1a1,
    -5px -5px 10px #ffffff;
  font-weight: bolder;

}

.error {
  margin: 0.2rem 0rem 2rem 0.2rem;
  color: white;
  padding: 0.7rem;
  border-radius: 25px;
  background: linear-gradient(145deg, #eb0a0a, #eb0a0a);
  box-shadow: 5px 5px 10px #a1a1a1,
    -5px -5px 10px #ffffff;
}
