/* carousel.component.css */
.carousel-container {
  display: flex;

}

.cards-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  transition: transform 0.5s ease-in-out;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 0 0 auto;
  width: 12.5rem; /* Ajuste conforme necessário */
  height: 12.5rem;
  margin-right: 15px; /* Espaçamento entre os cards */
  margin-bottom: 15px;
  padding: 1rem;
  border-radius: 25px;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow: 5px 5px 10px #a1a1a1,
    -5px -5px 10px #ffffff;
}

.card img {
  margin-bottom: 1rem;
}

.card h3 {
  font-weight: bolder;
}


/* responsividade mobile */

@media screen and (max-width: 768px) {
  .carousel-container{
    margin-top: 1rem;
  }

  .card{
    width: 8.5rem; /* Ajuste conforme necessário */
    height: 8.5rem;
    padding: 0.2rem;
  }

  .card img {
    margin-bottom: 0.1rem;
    height: 3rem;
  }

  .card h3 {
    font-weight: bolder;
    font-size: 0.7rem;
    margin-bottom: 0.1rem;
  }
  .card p {
    font-weight: 500;
    font-size: 0.7rem;
  }

}
