<!-- carousel.component.html -->
<div class="carousel-container">
  <div class="cards-wrapper">
    <!-- Seus cards aqui -->
    <div class="card">
      <img [src]="iconAtendimento" alt="Segmento 1">
      <h3>Prestadores Autonomos</h3>
      <p>Gerêncie seus serviços prestados</p>
    </div>
    <div class="card">
      <img [src]="iconAutonomos" alt="Segmento 2">
      <h3>Pequenas Empresas</h3>
      <p>Saia do papel ou planilhas e gerêncie direto na nuvem</p>
    </div>
    <div class="card">
      <img [src]="iconb2b" alt="Segmento 3">
      <h3>Pet Shop</h3>
      <p>Agende, venda e gerêncie os recursos do seu Pet shop</p>
    </div>
    <div class="card">
      <img [src]="iconbarbearias" alt="Segmento 3">
      <h3>Loja de Roupas</h3>
      <p>Seguimentação, vendedores e relatorios de vendas</p>
    </div>
    <div class="card">
      <img [src]="iconEmpresas" alt="Segmento 3">
      <h3>Técnicos em Informatica</h3>
      <p>Tenha serviços pre cadastrados e gere orçamentos em segundos</p>
    </div>
    <div class="card">
      <img [src]="iconEscritorios" alt="Segmento 3">
      <h3>Escritorios</h3>
      <p>Contabilidade, vendas, ativos, tudo em um lugar</p>
    </div>
    <div class="card">
      <img [src]="iconLojas" alt="Segmento 3">
      <h3>Lojas</h3>
      <p>Lojas em geral, construção, calçados e etc...</p>
    </div>
    <div class="card">
      <img [src]="iconPetshop" alt="Segmento 3">
      <h3>Petshop</h3>
      <p>Agenda e gestão em um so lugar</p>
    </div>
    <!-- Adicione mais cards conforme necessário -->
  </div>
</div>
