<!-- carousel.component.html -->
<div class="carousel-container">
  <div class="cards-wrapper">
    <!-- Seus cards aqui -->
    <div class="card">
      <img [src]="iconAtendimento" alt="Segmento 1">
      <h3>Prestadores Autonomos</h3>
      <p>Descrição breve do segmento 1.</p>
    </div>
    <div class="card">
      <img [src]="iconAutonomos" alt="Segmento 2">
      <h3>Pequenas Empresas</h3>
      <p>Descrição breve do segmento 2.</p>
    </div>
    <div class="card">
      <img [src]="iconb2b" alt="Segmento 3">
      <h3>Pet Shop</h3>
      <p>Descrição breve do segmento 3.</p>
    </div>
    <div class="card">
      <img [src]="iconbarbearias" alt="Segmento 3">
      <h3>Loja de Roupas</h3>
      <p>Descrição breve do segmento 3.</p>
    </div>
    <div class="card">
      <img [src]="iconEmpresas" alt="Segmento 3">
      <h3>Técnicos em Informatica</h3>
      <p>Descrição breve do segmento 3.</p>
    </div>
    <div class="card">
      <img [src]="iconEscritorios" alt="Segmento 3">
      <h3>Barbearias</h3>
      <p>Descrição breve do segmento 3.</p>
    </div>
    <div class="card">
      <img [src]="iconLojas" alt="Segmento 3">
      <h3>Barbearias</h3>
      <p>Descrição breve do segmento 3.</p>
    </div>
    <div class="card">
      <img [src]="iconPetshop" alt="Segmento 3">
      <h3>Barbearias</h3>
      <p>Descrição breve do segmento 3.</p>
    </div>
    <!-- Adicione mais cards conforme necessário -->
  </div>
</div>
