<div class="footer-container">
  <div class="main-footer">
    <div class="adress-social">
      <div class="adress">
        <p>86 9 9999-9990</p>
        <p>atendimento@mkproservice.com</p>
        <p>
          Rua Ferdinand Freitas, n 18 - Novo horizonte - Teresina - PI -
          64079-010
        </p>
        <p>CNPJ: 30.485.091/0001-63</p>
      </div>
      <div class="social">
        <p>insta</p>
        <p>Linkedin</p>
        <p>Youtube</p>
        <p>Facebook</p>
      </div>
    </div>
    <div class="navigation">
      <ul>
        <li>Home</li>
        <li>Sobre Nós</li>
        <li>Seguimentos</li>
        <li>Produtos</li>
        <li>Planos</li>
        <li>Contato</li>
      </ul>
    </div>
    <div class="links">
      <ul>
        <li>Demonstração</li>
        <li>Documentação</li>
      </ul>
    </div>
  </div>
  <div class="second-footer">
    <div class="developer">
      <p>C 2024 MkProService - Sitema ERP</p>
    </div>
    <div class="term">
      <ul>
        <li>Termos de uso</li>
        <li>Política de privacidade
        </li>
      </ul>
    </div>
    <div class="saler">
      <p>Desenvolvido por: <strong>Mk Code</strong></p>
    </div>
  </div>
</div>
