<div class="footer-container">
  <div class="main-footer">
    <div class="adress-social">
      <img src="/assets/img/logo.png" alt="">
      <div class="adress">
        <p><a href="#">(086) 9 9999-9990</a></p>
        <p>atendimento@mkproservice.com</p>
        <p>
          Rua Ferdinand Freitas, n 18 - Novo horizonte - Teresina - PI -
          64079-010
        </p>
        <p>CNPJ: 30.485.091/0001-63</p>
      </div>
      <div class="social">
        <a href="https://www.instagram.com/mkcode45/" target="_blank"><img src="./assets/img/insta.png" alt="Instagram"></a>
        <a href="https://www.linkedin.com/in/mk-pro-service-8922722ab/" target="_blank"><img src="./assets/img/linkedinIcon.png" alt="Linkedin"></a>
        <a href="https://www.youtube.com/watch?v=LvetJ9U_tVY&list=RDxKcbYUwmmlE&index=2" target="_blank"><img src="./assets/img/youtube.png" alt="Youtube"></a>
        <a href="https://www.facebook.com/" target="_blank"><img src="./assets/img/face.png" alt="Facebook" ></a>
      </div>
    </div>
    <div class="navigation">
      <h2>Navegação</h2>
      <ul>
        <a href="#"><li>Home</li></a>
        <a href="#"><li>Sobre Nós</li></a>
        <a href="#"><li>Seguimentos</li></a>
        <a href="#"><li>Produtos</li></a>
        <a href="#"><li>Planos</li></a>
        <a href="#"><li>Contato</li></a>
      </ul>
    </div>
    <div class="links">
      <h2>Links Úteis</h2>
      <ul>
        <a href="#"><li>Demonstração</li></a>
        <a href="#"><li>Documentação</li></a>
      </ul>
    </div>
  </div>
  <div class="second-footer">
    <div class="developer">
      <p>&copy; 2024 MkProService - Sistema ERP</p>
    </div>
    <div class="term">
      <ul class="term-div">
        <li><a href="#">Termos de uso |</a></li>
        <li> <a href="#">Política de privacidade</a>
        </li>
      </ul>
    </div>
    <div class="saler">
      <p>Desenvolvido por <strong>Mk Code</strong></p>
    </div>
  </div>
</div>
