<div class="wrapper">
  <div class="container">
    <app-title-page [titleText]="'Cadastro de Vendas'"></app-title-page>
    <form
      class="form"
      [formGroup]="formSales"
      (ngSubmit)="onSubmitSales()"
    >
      <div class="dados-venda">
        <div class="titulo-venda">
          <h2>Venda</h2>
          <label>
            <input
              class="input"
              type="text"
              name="nome"
              formControlName="cod"
              required
              [(ngModel)]="maiorIdProduto"
            />
            <span>Cod da venda</span>
          </label>
        </div>
        <div class="cliente">
          <label>
            <select
              class="input"
              type="text"
              name="name"
              formControlName="name"
              required
            >
              <option value="" disabled selected>Selecione um cliente</option>
              <option *ngFor="let customer of customers" [value]="customer._id">
                {{ customer.name }}
              </option>
            </select>
            <span>Nome do Cliente</span>
          </label>
        </div>
        <div class="desconto">
          <h2>Aplicar Desconto</h2>
          <label>
            <select
              class="input"
              name="discount"
              formControlName="discount"
              required
            >
              <option value="" disabled selected>Selecione o Desconto</option>
              <option value="0">0%</option>
              <option value="5">5%</option>
              <option value="10">10%</option>
              <option value="15">15%</option>
              <option value="15">20%</option>
              <option value="15">25%</option>
              <option value="15">30%</option>
              <option value="15">35%</option>

            </select>
            <span>Desconto</span>
          </label>
        </div>
      </div>
      <div class="resumo-pedido">
        <div class="produto">
          <h2>Selecionar Produto</h2>
          <label>
            <select
              class="input"
              name="product"
              formControlName="product"
              required
              multiple
              (change)="calcularTotal()"
            >
              <option value="" disabled selected>
                Selecione um ou mais produtos
              </option>
              <option *ngFor="let produto of produtos" [value]="produto._id">
                {{ produto.nome }}
              </option>
            </select>
          </label>
        </div>
      </div>

      <div class="desconsto-valor">
        <h2>Valor</h2>
        <label>
          <input
            class="input"
            type="text"
            name="originalValue"
            formControlName="originalValue"
            required
          />
          <span>Valor Original</span>
        </label>
        <div class="valor-final">
          <label>
            <input
              class="input"
              type="text"
              name="discountValue"
              formControlName="discountValue"
              required
            />
            <span>Valor do Desconto</span>
          </label>
          <label>
            <input
              class="input"
              type="text"
              name="finalValue"
              formControlName="finalValue"
              required
            />
            <span>Valor total</span>
          </label>
        </div>
      </div>
    </form>
    <app-button [buttonText]="'Venda'" type="submit"></app-button>
  </div>
</div>
