<div class="wrapper">
  <div class="container">
    <app-title-page [titleText]="'Cadastro de Vendas'"></app-title-page>

    <form class="form">
      <div class="dados-venda">
        <div class="titulo-venda">
          <h2>Venda </h2>
          <label>
            <input
              class="input"
              type="text"
              name="nome"
              formControlName="nome"
              value=""
              required=""
            />
            <span>Cod da venda</span>
          </label>
        </div>
        <div class="cliente">
          <h2>Cliente</h2>
          <label>
            <input
              class="input"
              type="text"
              name="nome"
              formControlName="nome"
              value=""
              required=""
            />
            <span>Nome do Cliente</span>
          </label>
          <label>
            <input
              class="input"
              type="text"
              name="nome"
              formControlName="nome"
              value=""
              required=""
            />
            <span>E-mail</span>
          </label>
          <label>
            <input
              class="input"
              type="text"
              name="nome"
              formControlName="nome"
              value=""
              required=""
            />
            <span>Telefone</span>
          </label>
        </div>
        <div class="notificacao">
          <h2>Notificações</h2>
          <label>O cliente deseja receber nortificações sobre promoções?</label>
            <input
              class="input"
              type="checkbox"
              name="nome"
              formControlName="nome"
              [value]="true"
            >
        </div>
      </div>
      <div class="resumo-pedido">
        <div class="produto">
          <h2>Selecionar Produto</h2>
          <label>
            <select
              class="input"
              name="produto"
              formControlName="produto"
              required
            >
              <option value="" disabled selected>Selecione um produto</option>
              <option value="produto1">Produto 1</option>
              <option value="produto2">Produto 2</option>
              <option value="produto3">Produto 3</option>
            </select>
            <span>Produto</span>
          </label>

          <h2>Lista de Produtos</h2>
          <div>
            <ul class="listagem-produto">
              <li>
                <p>produto 1</p>
              </li>
              <li>
                <p>produto 2</p>
              </li>
              <li>
                <p>produto 3</p>
              </li>
              <li>
                <p>produto 4</p>
              </li>
            </ul>
          </div>

        </div>
      </div>
      <div class="desconsto-valor">
        <div class="desconto">
          <h2>Aplicar Desconto</h2>
          <label>
            <select
              class="input"
              name="produto"
              formControlName="produto"
              required
            >
              <option value="" disabled selected>Selecione o Desconto</option>
              <option value="produto1">5%</option>
              <option value="produto2">10%</option>
              <option value="produto3">15%</option>
            </select>
            <span>Desconto</span>
          </label>
        </div>
        <div class="valor-final">

          <h2>Valor</h2>
          <label>
            <input
              class="input"
              type="text"
              name="nome"
              formControlName="nome"
              value=""
              required=""
            />
            <span>Valor do Desconto</span>
          </label>
          <label>
            <input
              class="input"
              type="text"
              name="nome"
              formControlName="nome"
              value=""
              required=""
            />
            <span>Valor total</span>
          </label>
        </div>
      </div>
    </form>
    <app-button [buttonText]="'Venda'"></app-button>
  </div>

</div>
