<!-- navbar.component.html -->

<nav class="navbar">
  <div class="navbar-brand">
    <img [src]="logoImg" alt="Mk Pro Logo" height="150" class="logo">
  </div>

  <div class="navbar-menu">
    <ul class="nav-list">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/sobre">Sobre Nós</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/segmentos">Segmentos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/produtos">Produtos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/planos">Planos</a>
      </li>
    </ul>
    <button class="test-button" (click)="auth.loginWithRedirect()">Teste</button>
  </div>
</nav>


