.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.form-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 35%;
  padding: 2rem;
  border-radius: 25px;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow: 5px 5px 10px #a1a1a1,
    -5px -5px 10px #ffffff;
}

form label {
  position: relative;
}

form label .input {
  width: 300px;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid #3ad0e8;
  border-radius: 15px;
  margin-bottom: 15px;
}

form label .input+span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: #9733be;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

form label .input:placeholder-shown+span {
  top: 15px;
  font-size: 0.9em;
}

form label .input:focus+span,
.form label .input:valid+span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

form label .input:valid+span {
  color: green;
}

/* link de reset de senha */
.suporte {
  margin-top: 3rem;
}

.suporte a {
  text-decoration: none;
  font-weight: bolder;
  padding: 1rem;
  border-radius: 25px;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow: 5px 5px 10px #a1a1a1,
    -5px -5px 10px #ffffff;
}


/*  login das redes sociais */
.social-login {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-radius: 25px;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow: 5px 5px 10px #a1a1a1,
    -5px -5px 10px #ffffff;
}

.social-login h1{
  margin-bottom: 2rem;
  color: #3ad0e8;
  font-weight: bolder;
}

.social-login a{
  text-decoration: none;
  font-weight: bolder;
}

