/* styles.css ou o seu arquivo de estilo personalizado */

.navbar {
  background: rgb(2, 0, 36);
  background: linear-gradient(175deg, rgba(2, 0, 36, 1) 0%, rgba(151, 51, 190, 1) 52%, rgba(58, 208, 232, 1) 100%);
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 100%;
  height: 15vh;
}

.navbar-brand {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  font-size: 20px;
}

.logo {
  margin-right: 10px;
}

.navbar-menu {
  display: flex;
  list-style: none;
}

.nav-list{
  display: flex;
  justify-content: space-between;
}

.nav-item {
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.5s ease;
}

.nav-link:hover {
  color: #3ad0e8;
  /* Cor ao passar o mouse (pode ajustar conforme desejado) */
}

.test-button {
  background-color: #3ad0e8;
  color: #333;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.test-button:hover {
  background-color: #9733be;

}


/* main container */
.main-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* aboutUs */

.aboutUs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 90%;
  border-bottom: 3px solid #9733be;
}

.video-container {
  display: flex;
  justify-content: center;
  width: 50%;
  margin-right: 50px;
  height: 70%;
}

.video-container iframe {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow: 5px 5px 10px #a1a1a1,
    -5px -5px 10px #ffffff;
}

.company-info {
  width: 30%; /* Ajuste conforme necessário */
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
  border-radius: 25px;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow: 5px 5px 10px #a1a1a1,
    -5px -5px 10px #ffffff;
}

.company-info h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #9733be;
}


.company-info p {
  font-size: 16px;
  color: #555;
}

/* seguimentos de mercado */

.market-segments{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 90%;
  border-bottom: 3px solid #9733be;
}

.img-segmentos{
  width: 80%;
}

.img-segmentos h2{
  margin-bottom: 2rem;
  margin-top: 5rem;
  font-weight: bolder;
  font-size: 2rem;
}

.carousel-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 90%;
}

/* demonstração do produtos */

.products-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 90%;
  border-bottom: 3px solid #9733be;
}

.prod-p{
  width: 100%;
}


/* planos e preços */

.plan-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  border-bottom: 3px solid #9733be;
  height: 100vh;
}
