<main class="wrapper">
  <div class="form-login">
   <app-title-page [titleText]="'Login'"></app-title-page>
   <app-notification></app-notification>
    <div class="form-login">
      <form action="submit" id="formLogin" [formGroup]="formLogin" *ngIf="formLogin" (ngSubmit)="onSubmitLogin()" >
        <label for="email">
          <input
            class="input"
            type="email"
            name="email"
            id="email"
            formControlName="email"
            required
          />
          <span>E-mail</span>
        </label>
        <label for="password">
          <input
            class="input"
            type="password"
            name="password"
            id="password"
            formControlName="password"
            required
          />
          <span>Senha</span>
        </label>
       <app-button [buttonText]="'Login'" type="submit"></app-button>
      </form>
    </div>
    <div class="suporte">
      <a href="#" (click)="forgetPass()">Esqueceu sua senha? </a>
    </div>

      <div class="social-login">
       <h1>Ainda não é cliente? </h1>
       <a routerLink="cadUsuario">Cadastre-se aqui!</a>
      </div>

  </div>
</main>
