.main-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    position: relative;
    width: 100%;
}

.menuside{
    width: 15%;
    height: 100vh;
}

.main-conteudo{
    width: 85%;
    height: 100vh;
}
