.main-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.menuside{
    max-width: 15%;
    margin-right: 5px;
    margin-top: 0;
}

.main-conteudo{
    min-width: 85%;
}
