<aside class="side-menu-main">
    <div class="option-menu">
        <ul>
            <li><a href="#" routerLink="home"><img [src]="iconHome" alt="Pagina incial"></a></li>
            <li><a href="#" routerLink="dashboard"><img [src]="iconDash" alt="Dashboard"></a></li>
            <li><a href="#" routerLink="cadastros"><img [src]="iconCadastro" alt="Cadastro e edição"></a></li>
            <li><a href="#" routerLink="Produtos"><img [src]="iconProduto" alt="produtos"></a></li>
            <li><a href="#" routerLink="suporte"><img [src]="iconSuporte" alt="Suporte"></a></li>
            <li><a href="#" routerLink="login"><img [src]="iconLogin" alt="Login"></a></li>
        </ul>
    </div>
</aside>
