.side-menu-main {
  display: flex;
  justify-content: center;
  height: 90vh;
  margin-top: 5px;
}

.option-menu {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

.option-menu a {
  text-decoration: none;
  list-style: none;
  text-align: center;
  color: #802ba2;
}

.option-menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 0;
}

.toggleMenu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  border-radius: 25px;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow: 5px 5px 10px #a1a1a1,
    -5px -5px 10px #ffffff;
  padding: 0.5rem;
}

.hide-image {
  display: none;
}

.toggleMenu ul {
  display: flex;
  flex-direction: column;
  height: 110px;
}


.toggleMenu img{
  height: 50px;
}

.opt2 {
  max-width: 100%;
  font-size: 14px;
  font-weight: bolder;
  padding: 0.4rem;
  text-transform: uppercase;
}


.opt2:hover {
  background-color: #3ad0e8;
  border-radius: 25px;
}
