<aside class="side-menu-main">
  <div class="option-menu">
    <ul>
      <li class="toggleMenu">
        <a href="#" routerLink="home"><img [src]="iconHome" alt="home" /></a>
      </li>
      <li class="toggleMenu" (click)="toggleSubmenu('dashboard')">
        <a>
          <div [ngClass]="{ 'hide-image': submenu === 'dashboard' }">
            <img [src]="iconDash" alt="Dashboard" />
          </div>
          <div class="area2">
            <ul *ngIf="submenu === 'dashboard'">
              <li class="opt2"><a routerLink="dashVendas">Vendas</a></li>
              <li class="opt2"><a routerLink="dashEstoque">Estoque</a></li>
              <li class="opt2"><a routerLink="dashFinancas">Finanças</a></li>
            </ul>
          </div>
        </a>
      </li>
      <li class="toggleMenu" (click)="toggleSubmenu('cadastros')">
        <a>
          <div [ngClass]="{ 'hide-image': submenu === 'cadastros' }">
            <img [src]="iconProduto" alt="Cadastros" />
          </div>
          <ul *ngIf="submenu === 'cadastros'">
            <li class="opt2"><a routerLink="cadEstoque">Cadastro</a></li>
            <li class="opt2"><a routerLink="produtos">Edição</a></li>
          </ul></a
        >
      </li>
      <li class="toggleMenu" (click)="toggleSubmenu('vendas')">
        <a
          ><div [ngClass]="{ 'hide-image': submenu === 'vendas' }">
            <img [src]="iconVenda" alt="Vendas" />
          </div>
          <ul *ngIf="submenu === 'vendas'">
            <li class="opt2"><a routerLink="cadVendas">Vendas</a></li>
            <li class="opt2"><a routerLink="hitVendas">Histórico</a></li>
            <li class="opt2"><a routerLink="descontos">Descontos</a></li>
          </ul></a
        >
      </li>
      <li class="toggleMenu" (click)="toggleSubmenu('Clientes')">
        <a
          ><div [ngClass]="{ 'hide-image': submenu === 'Clientes' }">
            <img [src]="iconCliente" alt="Clientes" />
          </div>
          <ul *ngIf="submenu === 'Clientes'">
            <li class="opt2"><a routerLink="cadCliente">Cadastro</a></li>
            <li class="opt2"><a routerLink="editCliente">Edição</a></li>
          </ul></a
        >
      </li>
      <li class="toggleMenu" (click)="toggleSubmenu('Fornecedores')">
        <a
          ><div [ngClass]="{ 'hide-image': submenu === 'Fornecedores' }">
            <img [src]="iconFornecedor" alt="Fornecedores" />
          </div>
          <ul *ngIf="submenu === 'Fornecedores'">
            <li class="opt2"><a routerLink="cadFornecedor">Cadastro</a></li>
            <li class="opt2"><a routerLink="editFornecedor">Edição</a></li>
          </ul></a
        >
      </li>
      <li class="toggleMenu" (click)="toggleSubmenu('financas')">
        <a
          ><div [ngClass]="{ 'hide-image': submenu === 'financas' }">
            <img [src]="iconfinancas" alt="financas" />
          </div>
          <ul *ngIf="submenu === 'financas'">
            <li class="opt2"><a routerLink="despesas">Despesas</a></li>
            <li class="opt2"><a routerLink="editDespesas">Edição</a></li>
          </ul></a
        >
      </li>
      <li class="toggleMenu" (click)="toggleSubmenu('suporte')">
        <a
          ><div [ngClass]="{ 'hide-image': submenu === 'suporte' }">
            <img [src]="iconSuporte" alt="Suporte" />
          </div>
          <ul *ngIf="submenu === 'suporte'">
            <li class="opt2"><a routerLink="supAcessos">Acessos</a></li>
            <li class="opt2"><a routerLink="supManuseio">Manuseio</a></li>
            <li class="opt2"><a routerLink="supFinancas">Finanças</a></li>
          </ul></a
        >
      </li>
      <li class="toggleMenu">
        <a href="#" routerLink="login"><img [src]="iconLogin" alt="Login" /></a>
      </li>
    </ul>
  </div>
</aside>
