.side-menu-main {
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed;
}

.option-menu {
  display: flex;
  width: 60%;
}

.option-menu a {
  text-decoration: none;
  list-style: none;
  text-align: center;
  color: #a1a1a1;
}

.option-menu ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 0;
}

.toggleMenu {
  display: flex;
  flex-direction: row;
  margin-top: 0.2rem;
  border-radius: 25px;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow: 5px 5px 10px #a1a1a1,
    -5px -5px 10px #ffffff;
  padding: 0.5rem;
}

.hide-image {
  display: none;
}

.toggleMenu ul {
  display: flex;
  flex-direction: column;
}

.opt2 {
  max-width: 100%;
  font-size: 14px;
  font-weight: bolder;
  margin-top: 1rem;
  border-radius: 7px;
background: #ffffff;
box-shadow: inset 5px 5px 5px #d6d6d6,
            inset -5px -5px 5px #ffffff;
  padding: 0.3rem;
}
