<aside class="side-menu-main">
  <div class="option-menu">
    <ul>
      <li class="toggleMenu" (click)="toggleSubmenu('Home')">
        <a
          ><img [src]="iconHome" alt="Pagina incial" />
          <ul *ngIf="submenu === 'Home'">
            <li class="opt2">
              <a routerLink="home">Home</a>
            </li>
            <li class="opt2"><a routerLink="links">Links</a></li>
            <li class="opt2"><a routerLink="social">Sociais</a></li>
          </ul></a
        >
      </li>
      <li class="toggleMenu" (click)="toggleSubmenu('dashboard')">
        <a
          ><img [src]="iconDash" alt="Dashboard" />
          <ul *ngIf="submenu === 'dashboard'">
            <li class="opt2"><a routerLink="cadastro">Vendas</a></li>
            <li class="opt2"><a routerLink="dashboard">Estoque</a></li>
            <li class="opt2"><a routerLink="editar">Finanças</a></li>
          </ul></a
        >
      </li>
      <li class="toggleMenu" (click)="toggleSubmenu('cadastros')">
        <a
          ><img [src]="iconProduto" alt="Cadastros" />
          <ul *ngIf="submenu === 'cadastros'">
            <li class="opt2"><a routerLink="cadastros">Cadastro</a></li>
            <li class="opt2"><a routerLink="produtos">Edição</a></li>
            <li class="opt2"><a routerLink="produtosDetails">Pesquisa</a></li>
          </ul></a
        >
      </li>
      <li class="toggleMenu" (click)="toggleSubmenu('Vendas')">
        <a
          ><img [src]="iconVenda" alt="Vendas" />
          <ul *ngIf="submenu === 'Vendas'">
            <li class="opt2"><a routerLink="cadastros">Vendas</a></li>
            <li class="opt2"><a routerLink="produtos">Histórico</a></li>
            <li class="opt2"><a routerLink="produtosDetails">Descontos</a></li>
          </ul></a
        >
      </li>
      <li class="toggleMenu" (click)="toggleSubmenu('suporte')">
        <a
          ><img [src]="iconSuporte" alt="Suporte" />
          <ul *ngIf="submenu === 'suporte'">
            <li class="opt2"><a routerLink="suporte">Acessos</a></li>
            <li class="opt2"><a routerLink="conferir">Manuseio</a></li>
            <li class="opt2"><a routerLink="editar">Finanças</a></li>
          </ul></a
        >
      </li>
      <li class="toggleMenu">
        <a href="#" routerLink="login"><img [src]="iconLogin" alt="Login" /></a>
      </li>
    </ul>
  </div>
</aside>
