<div>
  <li class="toggleMenu" (click)="toggleSubmenu('dashboard')">
    <a>
      <div [ngClass]="{ 'hide-image': submenu === 'dashboard' }">
        <img [src]="iconLogin" alt="Dashboard" />
      </div>
      <div class="area2">
        <ul *ngIf="(submenu === 'dashboard') && (auth.user$ | async) as user">
          <h1>PERFIL</h1>
          <img class="profile-picture" [src]="user.picture" alt="Perfil de {{ user.name }}">
          <li class="opt2">{{ user.name }}</li>
          <li class="opt2">{{ user.nickname}}</li>
          <li class="opt2"><a href="/configuracao">Configuração</a></li>
          <li class="opt2"><a (click)="onLogoutClick()">LogOut</a></li>
        </ul>
      </div>
    </a>
  </li>
</div>



