<div class="wrapper">
  <app-title-page [titleText]="'Editar Clientes'"></app-title-page>


  <div class="tabela-container" id="table-box">
    <table id="corp-list">
      <thead>
        <tr class="table-title">
          <th>Nome Completo</th>
          <th>E-mail</th>
          <th>Telefone</th>
          <th>Endereço</th>
          <th>Notificação</th>
          <th>Opções</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-corp" *ngFor="let customer of customers">
          <td>{{ customer.name }}</td>
          <td>{{ customer.email }}</td>
          <td>{{ customer.phone }}</td>
          <td>{{ customer.address }}</td>
          <td>{{ customer.notification }}</td>
          <td>
            <button class="btn , edit" (click)="editCustomer(customer)">
              Editar
            </button>
            <button class="btn delete" (click)="excludeCustomer(customer)">
              Deletar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

   <!-- formulario de edição -->

 <form
 id="formId"
 class="hide"
 [formGroup]="formEditCustomer"
 (ngSubmit)="upCustomer(this.formEditCustomer.value)"
>
<label style="display: none">
  <input
    class="input"
    type="text"
    name="_id"
    formControlName="_id"
    required
  />
  <span>id</span>
</label>
 <label>
   <input
     class="input"
     type="text"
     name="name"
     formControlName="name"
     required
   />
   <span>Nome Completo</span>
 </label>
 <label>
   <input
     class="input"
     type="email"
     name="email"
     formControlName="email"
     required
   />
   <span>E-mail</span>
 </label>
 <label>
   <input
     class="input"
     type="tel"
     name="phone"
     formControlName="phone"
     pattern="[0-9]{11}"
     required
   />
   <span>Telefone</span>
 </label>
 <label>
   <input
     class="input"
     type="text"
     name="address"
     formControlName="address"
     required
   />
   <span>Endereço</span>
 </label>
 <div class="notificacao">
   <h2 class="title-noti">Notificações</h2>
   <label>O cliente deseja receber nortificações sobre promoções?</label>
   <input
     class="input"
     type="checkbox"
     name="notification"
     formControlName="notification"
     [value]="true"
   />
 </div>
 <app-button [buttonText]="'Editar'" type="submit"></app-button>
</form>

</div>

