<main class="wrapper">
  <app-title-page></app-title-page>
  <div class="text-img">
    <div class="main-img">
      <img [src]="mainImg" alt="imagem principal do sistema" />
    </div>
    <div class="main-apresentacao">
      <p>
        O EasyMarket é um sistema de gestão especialmente projetado para
        pequenos mercados. Com uma interface intuitiva e funcionalidades
        abrangentes, o EasyMarket simplifica o controle de clientes, vendas,
        estoque e compras. Com o EasyMarket, você poderá gerenciar de forma
        eficiente o cadastro de clientes, registrar vendas com facilidade,
        controlar seu estoque de maneira eficaz e otimizar o processo de
        compras. Simplifique suas operações e potencialize o sucesso do seu
        pequeno mercado com o EasyMarket.
      </p>
    </div>
  </div>
</main>
