.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 100%;
    padding: 2rem 0rem 0rem 0rem;
    margin: auto;
    
}

.main-title h1{
    background: #9733be;
    box-shadow: inset -20px 20px 60px #802ba2,
              inset 20px -20px 60px #ae3bdb;
    padding: 1rem 6rem 1rem 6rem;
    border-radius: 25px;
    color: #e6e6e6;
    margin-bottom: 4rem;
}

.text-img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 80%;
}

.main-img{
    border-radius: 25px;
    max-height: 100%;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-img img{
    border-radius: 25px;
    max-height: 70%;
    max-width: 70%;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow:  50px 50px 100px #666666,
             -50px -50px 100px #ffffff;
    margin-bottom: 2rem;
}

.main-apresentacao{
    text-align: center;
    width: 60%;
}