.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    padding: 5rem 0rem 0rem 0rem;
    max-height: 60vh;

}

.main-title h1{
    background: #9733be;
    box-shadow: inset -20px 20px 60px #802ba2,
              inset 20px -20px 60px #ae3bdb;
    border-radius: 25px;
    color: #e6e6e6;
    margin-bottom: 4rem;
    margin-top: 3rem;
    font-size: 34px;
    padding: 5px 25px 5px 25px;
}

.text-img{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    max-width: 80%;
}

.main-img{
    border-radius: 25px;
    max-height: 100%;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-img img{
    border-radius: 25px;
    max-height: 70%;
    max-width: 70%;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow:  50px 50px 100px #3ad0e8,
             -50px -50px 100px #9733be;
    margin-bottom: 2rem;
}

.main-apresentacao{
    text-align: center;
    width: 60%;
}

.main-apresentacao p{
    background: #9733be;
    box-shadow: inset -20px 20px 60px #802ba2,
              inset 20px -20px 60px #ae3bdb;
    border-radius: 25px;
    font-weight: bold;
    font-size: 18px;
    color: #e6e6e6;
    padding: 1rem;
}

