<main class="wrapper">
  <app-title-page></app-title-page>
  <div class="text-img">
    <div class="main-apresentacao">
      <p>
        O EasyMarket é um sistema de gestão especialmente projetado para
        pequenos mercados. Com uma interface intuitiva e funcionalidades
        abrangentes, o EasyMarket simplifica o controle de clientes, vendas,
        estoque e compras.Simplifique suas operações e potencialize o sucesso do seu
        negocio com o EasyMarket.
      </p>
    </div>
    <div class="main-img">
      <div class="img1"><img [src]="mainImg" alt="imagem principal do sistema" /></div>
      <div class="img2"><img [src]="mainImg" alt="imagem principal do sistema" /></div>
      <div class="img3"><img [src]="mainImg" alt="imagem principal do sistema" /></div>
    </div>
  </div>
</main>
