.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  max-width: 100%;
}

.main-img {
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img1, .img2, .img3 {
  margin-bottom: 2rem;
}

.main-img img {
  border-radius: 25px;
  max-width: 50%;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow: 5px 5px 10px #a1a1a1,
    -5px -5px 10px #ffffff;
}

.main-apresentacao {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 80%;
  margin-right: 5rem;
}

.main-apresentacao p {
  font-weight: bold;
  font-size: 18px;
  color: #9733be;
  padding: 1rem;
}
