<section class="wrapper">
    <div class="title-suport">
        <h3>Suporte</h3>
    </div>

    <div class="box-suport">
        <div class="suport-login box">
            <a href="#">
                <img [src]="supImgLogin" alt="Imagem de login de usuario"/>
                <p>Esqueceu seu dados de acesso?</p>
            </a>
        </div>
        <div class="suport-cadastro box">
            <img [src]="supImgCad" alt=""/>
            <a href="#">Reparo de sistema ou sugestões?</a>
        </div>
        <div class="suporte-vendas box">
            <img [src]="supImgVendas" alt=""/>
            <a href="#">Assinaturas e cobranças?</a>
        </div>
    </div>

    <div class="fqs-suport">
        <div class="fqs-title">
            <h3>FAQ's</h3>
        </div>

        <div class="fqs-question">
            <a>Posso gerenciar meu comercio com o sistema?</a>
            <a>Os dados que apareceram serão apenas do meu cadastro?</a>
            <a>Posso extrair os dados do sistema?</a>
            <a>Como funciona os planos do sistema?</a>
        </div>
    </div>
</section>