<div class="wrapper">
  <app-title-page [titleText]="'Historico de vendas'"></app-title-page>


  <div class="tabela-container" id="table-box">
    <table id="corp-list">
      <thead>
        <tr class="table-title">
          <th>Cod Venda</th>
          <th>Cliente</th>
          <th>E-mail</th>
          <th>Telefone</th>
          <th>Notificação</th>
          <th>Quanditade</th>
          <th>Desconto</th>
          <th>Valor Desconto</th>
          <th>Valor</th>
          <th>Opções</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-corp">
          <td>01</td>
          <td>Marcos</td>
          <td>Marcosantcarvalho99@gmail.com</td>
          <td>86995666783</td>
          <td>Sim</td>
          <td>2</td>
          <td>5%</td>
          <td>50</td>
          <td>250</td>

          <td>
            <button class="btn , edit" >
              Editar
            </button>
            <button class="btn delete" >
              Deletar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
