<div class="container-product">

  <h1>Nosso Sistema</h1>

  <div class="line-page line-reverse">
    <div class="img">
      <img [src]="iconHome" alt="home do sistema" />
    </div>
    <div class="text">
      <h1>Home</h1>
    </div>
  </div>
  <div class="line-page line-no">
    <div class="text">
      <h1>Dashbords</h1>
    </div>
    <div class="img">
      <img [src]="iconDash" alt="" />
    </div>
  </div>
  <div class="line-page line-reverse">
    <div class="img">
      <img [src]="iconCad" alt="" />
    </div>
    <div class="text">
      <h1>Cadastro</h1>
    </div>
  </div>
  <div class="line-page line-no">
    <div class="text">
      <h1>Controle</h1>
    </div>
    <div class="img">
      <img [src]="iconProdutos" alt="" />
    </div>
  </div>
  <div class="line-page line-reverse">
    <div class="img">
      <img [src]="iconSuporte" alt="" />
    </div>
    <div class="text">
      <h1>Suporte</h1>
    </div>
  </div>
</div>
