<section class="wrapper">
  <div class="dash-title">
    <h1>DashBoard</h1>
  </div>
  <div class="dash-container">
    <div class="mini-box">
      <div class="dash-min">
        <div>
          <h5 class="title-min">Estoque</h5>
          <p class="text-min" id="estoque">{{estoque}}</p>
        </div>
        <div>
          <img [src]="iconEstoque" alt="estoque">
        </div>
      </div>
      <div class="dash-min">
        <div>
          <h5 class="title-min">Valor total</h5>
          <p class="text-min" id="valor">R$ {{somaValor}}</p>
        </div>
        <div>
          <img [src]="iconValor" alt="estoque">
        </div>
      </div>
      <div class="dash-min">
        <div>
          <h5 class="title-min">Maior estoque</h5>
          <p class="text-min" id="vendas">{{produtoComMaiorValor.nome}} / {{maiorValor}} Uni</p>
        </div>
        <div>
          <img [src]="totalVendas" alt="estoque">
        </div>
      </div>
      <div class="dash-min">
        <div>
          <h5 class="title-min">Custo</h5>
          <p class="text-min" id="vendas">Em breve</p>
        </div>
        <div>
          <img [src]="totalVendas" alt="estoque">
        </div>
      </div>
      <div class="dash-min">
        <div>
          <h5 class="title-min">Lucro</h5>
          <p class="text-min" id="vendas">Em breve</p>
        </div>
        <div>
          <img [src]="totalVendas" alt="estoque">
        </div>
      </div>
      <div class="dash-min">
        <div>
          <h5 class="title-min">Vendas</h5>
          <p class="text-min" id="vendas">Em breve</p>
        </div>
        <div>
          <img [src]="totalVendas" alt="estoque">
        </div>
      </div>
    </div>
  </div>
</section>
