<section class="wrapper">
  <div class="dash-title">
    <h1>DashBoard</h1>
  </div>
  <div class="dash-container">
    <div class="mini-box">
      <div class="dash-min">
        <h5 class="title-min">Produtos</h5>
        <p class="text-min">05</p>
      </div>
      <div class="dash-min">
        <h5 class="title-min">Produtos</h5>
        <p class="text-min">05</p>
      </div>
      <div class="dash-min">
        <h5 class="title-min">Produtos</h5>
        <p class="text-min">05</p>
      </div>
    </div>
    <div class="large-box">
      <div class="dash-large">
        <h5 class="title-min">Historico de vendas</h5>
        <p class="text-min">Grafico</p>
      </div>
      <div class="dash-large">
        <h5 class="title-min">Historico de vendas</h5>
        <p class="text-min">Grafico</p>
      </div>
    </div>
  </div>
</section>
