<div class='wrapper'>

    <main class="container">

        <h1>Cadastro de Produtos</h1>
        <!-- formulario de cadastro -->
        <form class="form" id="formCadastro" [formGroup]="formProduto" (ngSubmit)="onSubmit()">
            <label>
                <input class="input" type="text" name="id" formControlName="_id" required >
                <span>Cod do Produto</span>
            </label>
            <label>
                <input class="input" type="text" name="nome" formControlName="nome" value="" required="">
                <span>Nome do produto</span>
            </label>

            <label>
                <input class="input" type="text" name="descricao" required formControlName="descricao" required="">
                <span>Descriçaõ do produto</span>
            </label>

            <label>
                <input class="input" name="valor" type="number" required formControlName="valor" required="">
                <span>Valor do produto</span>
            </label>

            <fieldset class="box-radio">

                <legend>Produto disponivel</legend>

                <input type="radio" class="select" name="disponivel" id="disponivel" value=true formControlName="disponivel" checked required="">
                <label for="disponivel">Sim</label>

                <input type="radio" class="select" name="disponivel" id="nao" value=false formControlName="disponivel" required="">
                <label for="nao">Não</label>

            </fieldset>

            <button href="#" class="fancy" type="submit" [disabled]="!formProduto.valid">
                <span class="top-key"></span>
                <span class="text">Cadastrar</span>
                <span class="bottom-key-1"></span>
                <span class="bottom-key-2"></span>
            </button>
        </form>

    </main>

</div>