.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5rem 1rem 0rem 0rem;
}

.hide {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
}

h1 {
  width: 30%;
  border-radius: 25px;
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow: 5px 5px 10px #a1a1a1,
    -5px -5px 10px #ffffff;

  color: #9733be;
  font-size: 28px;
  padding: 15px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 50%;
  padding: 2rem;
  border-radius: 25px;
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow: 5px 5px 10px #a1a1a1,
    -5px -5px 10px #ffffff;
}

.form label {
  position: relative;
  width: 100%;
}

.form label .input {
  min-width: 95%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid #3ad0e8;
  border-radius: 15px;
  margin-bottom: 15px;
}

.form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: #9733be;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:focus + span,
.form label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input:valid + span {
  color: green;
}

/* radio de produto */

.box-radio {
  margin-bottom: 35px;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  width: 300px;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid #9733be;
  border-radius: 15px;
  margin-bottom: 15px;
}

legend {
  color: #802ba2;
  font-size: 14px;
  font-weight: bolder;
  padding: 0rem 1rem 0rem 1rem;
  text-align: center;
}

.box-radio label {
  margin-right: 50px;
  color: #802ba2;
  font-size: 0.9em;
}

.box-radio input {
  margin-left: 50px;
}

/* botão subimit */
.fancy {
  background-color: transparent;
  border: 2px solid #802ba2;
  border-radius: 15px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 390;
  letter-spacing: 4px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 8px 30px;
  position: relative;
  text-decoration: none;
  text-transform: none;
  transition: all 0.3s ease-in-out;
  user-select: none;
  font-size: 13px;
}

.fancy::before {
  content: " ";
  width: 1.7rem;
  height: 2px;
  background: #3ad0e8;
  top: 50%;
  left: 1.5em;
  position: absolute;
  transform: translateY(-50%);
  transform: translateX(270%);
  transform-origin: center;
  transition: background 0.3s linear, width 0.3s linear;
}

.fancy .text {
  font-size: 1.125em;
  line-height: 1.33333em;
  display: block;
  text-align: center;
  transition: all 0.3s ease-in-out;
  text-transform: lowercase;
  text-decoration: none;
  color: #3ad0e8;
  transform: translateX(30%);
}

.fancy .top-key {
  height: 2px;
  width: 1.5625rem;
  top: -2px;
  left: 0.625rem;
  position: absolute;
  background: #3ad0e8;
  transition: width 0.5s ease-out, left 0.3s ease-out;
}

.fancy .bottom-key-1 {
  height: 2px;
  width: 1.5625rem;
  right: 1.875rem;
  bottom: -2px;
  position: absolute;
  background: #3ad0e8;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy .bottom-key-2 {
  height: 2px;
  width: 0.625rem;
  right: 0.725rem;
  bottom: -2px;
  position: absolute;
  background: #3ad0e8;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy:hover {
  color: white;
  background: #9733be;
}

.fancy:hover::before {
  width: 1.5rem;
  background: white;
}

.fancy:hover .text {
  color: white;
  padding-left: 0.5em;
}

.fancy:hover .top-key {
  left: -5px;
  width: 0px;
}

.fancy:hover .bottom-key-1,
.fancy:hover .bottom-key-2 {
  right: 0;
  width: 0;
}
